tensorrt==10.4
torch==2.7.0
torchvision==0.22.0
onnxruntime-gpu==1.22.0
supervision==0.22.0
pycocotools==2.0.8
numpy==1.25.2
fire==0.7.0
faster-coco-eval==1.6.7
opencv-python==4.10.0.84
onnx==1.18.0
requests==2.32.3
tqdm==4.67.1
